/* .c_radio
-------------------------------------------------------------*/
$r: ".c_radio";

// block
//-----------------------------------------------------------
#{$r} {
  display: inline-flex;
  cursor: pointer;

  // element
  //---------------------------------------------------------
  input {
    flex: none;
    width: 1.125rem;
    height: 1.125rem;
    cursor: pointer;
    position: relative;
    border-radius: 100%;
    border: 0.063rem solid;

    &::before {
      content: "";
      inset: 0.188rem;
      position: absolute;
      border-radius: 100%;
      background-color: currentColor;
      opacity: 0;
      transform: scale(0);
      transition:
        opacity 0.15s,
        transform 0.15s;
    }

    &:checked::before {
      opacity: 1;
      transform: scale(1);
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;

      ~ #{$r}__title {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }

    @media (pointer: fine) {
      &:not(:disabled):hover,
      &:not(:disabled):focus-visible {
        box-shadow: 0 0 0 0.063rem;
      }
    }
  }

  &__title {
    cursor: pointer;
    line-height: 1.125rem;
    padding-left: 0.5rem;
  }

  // modifier
  //---------------------------------------------------------
}
