/* .c_switch
-------------------------------------------------------------*/
$r: ".c_switch";

// block
//-----------------------------------------------------------
#{$r} {
  display: inline-flex;
  cursor: pointer;

  // element
  //---------------------------------------------------------
  input {
    flex: none;
    height: 1.5rem;
    cursor: pointer;
    position: relative;
    aspect-ratio: 16/9;
    border-radius: 100vw;
    background-color: gray;
    transition: background-color 0.3s;

    &::before {
      content: "";
      inset: 0;
      height: 80%;
      margin: auto;
      aspect-ratio: 1/1;
      position: absolute;
      border-radius: 100%;
      background-color: white;
      transform: translate3d(-48%, 0, 0);
      transition: transform 0.3s;
    }

    &:checked {
      background-color: currentColor;

      &::before {
        transform: translate3d(48%, 0, 0);
      }
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;

      ~ #{$r}__title {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }

  // modifier
  //---------------------------------------------------------
}
