/* vars
-------------------------------------------------------------*/
:root {
  --white: #ffffff;
  --black: #000000;
}

/* breakpoints
-------------------------------------------------------------*/
/*
max-width: 374px => max-width: 23.375rem
min-width: 375px => min-width: 23.4375rem

max-width: 567px => max-width: 35.4375rem
min-width: 568px => min-width: 35.5rem

max-width: 767px => max-width: 47.9375rem
min-width: 768px => min-width: 48rem

max-width: 991px => max-width: 61.9375rem
min-width: 992px => min-width: 62rem

max-width: 1199px => max-width: 74.9375rem
min-width: 1200px => min-width: 75rem

max-width: 1399px => max-width: 87.4375rem
min-width: 1400px => min-width: 87.5rem
*/
