/* .l_app
-------------------------------------------------------------*/
$r: ".l_app";

// block
//-----------------------------------------------------------
#{$r} {
  min-height: 100vh;
  min-height: 100dvh;

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
}
